@model LavishGiftCenter.Models.User
@{
    ViewBag.Title = "Register";

}


<!DOCTYPE html>
<html lang="en">
<head>
<title>Lavish Registration Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-1.7.1.js">

    </script>


    <style type="text/css">
    
    .clear {
	clear: both;
    }

    .custom-form {
	background: #ff006e;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 10px 30px;
    }

    </style>
</head>




<body>
    <script src="~/Scripts/jquery.validate.js"></script>

<div class="container">
	<div class="row pull-right">
	
     	<div class="col-md-4">
        </div>

			
			
			
			
			<div class="custom-form">
				
			
					<!-- Start Aweber Form Code -->
					<form method="post" class="af-form-wrapper" action="/Home/RegisterPerson/@Model" id="myForm" name="myForm" >
		                <h1 class="">Lavish Registration Form</h1>
						
                            @Html.AntiForgeryToken() 
                            @Html.ValidationSummary(true)
		
						<div id="af-form-REPLACE-THIS" class="af-form">
							<div id="af-body-REPLACE-THIS" class="af-body af-standards">

									<div class="form-group">
										<h3>Register for Shop!</h3>

                                        
                                        
										<p class="signup">Join today and you'll receive our Exiting Offers!</p>

								    </div>	
								
								
                                    <div class="af-element">
										<!--<div class="form-group af-textWrap">
											<input class="form-control text" id="email" type="text" name="Email" value="" placeholder="Enter Your Email Address" tabindex="501" />										</div>
									    <div class="clear"></div>
                                            -->
                                        <div class="editor-field form-group af-textWrap">
                                            <label>Email</label>
                                            @Html.EditorFor(model => model.Email, new  { @placeholder="Email", id="Email",name="Email",value="Enter Your Email"})
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </div>
								
                                    </div>

                                
	@*						    
                                    <div class="af-element">
                                        <div id="checking">checking ...</div>
										    <div class="form-group af-textWrap">
											    <input id="username" type="text" name="UserName" class="form-control text" value="" placeholder="username"  tabindex="500" />
										    </div>
                                        <div class="editor-field form-group af-textWrap">
                                           @* @Html.EditorFor(model => model.UserName, new { id="UserName",name="UserName",value="UserName"})
                                            @Html.ValidationMessageFor(model => model.UserName)
                                        </div>
                                    
									    <div class="clear"></div>
                                        <div id="result"></div>
								    </div>
								
								                                
    *@
                                @*
                                <div class="af-element">
                                    <div id="checking">checking ...</div>
                                    <label>UserName</label>
										<div class="form-group af-textWrap">
											<input id="username" type="text" name="UserName" class="form-control text" value="" placeholder="username"  tabindex="500" />
										</div>
                                    
									<div class="clear"></div>
                                    <div id="result"></div>
								</div>
								*@
                                  @Html.EditorFor(model => model.UserName, new  { @placeholder="UserName", id="username",name="UserName",value="Enter UserName"})
                                  @Html.ValidationMessageFor(model => model.Email)
                                
								
								<div class="af-element">
								    <!--<div class="form-group af-textWrap">
										    <input class="form-control text" id="pass1" type="text" name="Password" value="" placeholder="password" tabindex="501"  />
								    </div>-->
                                       <label>Password</label>
                                    <div class="editor-field form-group af-textWrap">
                                        @Html.EditorFor(model => model.Password , new { @placeholder="Password", id="pass1",name="Password",value="Password"})
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
									
                                    <div class="clear"></div>
								
                                </div>
								
								
                                
                                <div class="af-element">
                                    <label>Confirm Password</label>
								    <div class="form-group af-textWrap">
									    <input class="form-control text" id="pass2" type="text" name="confirmpassword" value="" placeholder="Confirm Password" tabindex="501"  />
									</div>
								<div class="clear"></div>
								<div id="result_pass2"></div>
                                </div>
								
								
								
								<div class="af-element buttonContainer">
									<div class="form-group">
										<input name="submit" class="btn btn-primary btn-md submit" type="submit" value="Register" tabindex="502" />
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						
					</form>
					<!-- End Aweber Form Code -->
					
				</div><!-- end row -->
			</div><!-- end custom-form -->
       @* <div class="col-md-4"></div>*@
		</div><!-- end col-lg-12 -->










<script type="text/javascript">

    (function() {
        var IE = false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-REPLACE")) {
                document.getElementById("af-form-REPLACE").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-REPLACE")) {
                document.getElementById("af-body-REPLACE").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-REPLACE")) {
                document.getElementById("af-header-REPLACE").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-REPLACE")) {
                document.getElementById("af-footer-REPLACE").className = "af-footer af-quirksMode";
            }
        }
    })();

</script>


<script>

    $(document).ready(function () {

        $('#checking').hide();

        $('#username').keyup(function () {

            var userName = $('#username').val();

            //alert('User Name ='+ userName);
            $('#checking').show();
            $.getJSON("/Home/CheckUserName?UserName=" + userName, function (data) {
                $('#checking').hide();
                if (data) {
                    $('#result').css("background-color", "red");
                    $('#result').text("User already exists");

                }
                else {
                    $('#result').css("background-color", "green");
                    $('#result').text("User Name is available");
                }
            });

        });

    });

        //$('#pass2').keyup(function () {

        //    var pass2 = $('#pass2').val();
        //    var pass1 = $('#pass1').val();

        //    //alert('User Name ='+ userName);
        //    $('#checking').show();
        //    $('#result_pass2').hide();

        //    if (pass1 != pass2) {
        //        $('#result_pass2').show();
        //        $('#result_pass2').css("color", "red");
        //        $('#result_pass2').text("Passwords Not Matching");
        //    }
        //    else if (pass1 == pass2) {
        //        $('#result_pass2').show();
        //        $('#result_pass2').css("color", "green");
        //        $('#result_pass2').text("Passwords Matched");
        //    }
        //});
                
            
</script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")




</body>
</html>